.goods {
  background-color: var(--color-bg-light);
}

.goods__container {
  padding-top: 56px;
  padding-bottom: 30px;
}

.goods__title {
  margin-bottom: 27px;
  max-width: 480px;
}

.goods__stock {
  margin-bottom: 41px;
  background-color: var(--color-bg-light);
}
