.presentation {
  background: linear-gradient(#fff 72%, #d0e7ea 72%);
}

.presentation__container {
  padding-top: 100px;
  padding-bottom: 50px;
}

.presentation__descr {
  &::before {
    @include bg-cover;

    content: "";
    display: block;
    margin-bottom: 32px;
    width: 100%;
    height: 44vw;
    max-width: 100%;
    max-height: 632px;
    background-image: url("../img/presentation-bg.jpg");
  }
}

@include mobile {
  .presentation {
    background: linear-gradient(#fff 84%, #d0e7ea 84%);
  }

  .presentation__container {
    padding-top: 70px;
  }

  .presentation__descr {
    &::before {
      height: 50vw;
    }
  }
}

@media (min-width: (450px)) and (max-width: (1023px)) {
  .presentation {
    background: linear-gradient(#fff 72%, #d0e7ea 72%);
  }
}
