// COLORS
:root {
  --color-black: #000;
  --color-white: #fff;
  --color-gray-text: #434140;
  --color-dark-text: #1b365d;
  --color-light-text: #9ca5b0;
  --color-bg-light: #d0e7ea;
  --color-bg-dark: #272e38;
  --color-pink: #f1c0c7;
  --color-bg-fb: #1990ff;
  --color-bg-whatsapp: #25d366;
  --color-light-blue: #add4e0;
  --color-bg-goods: #f7f7f7;
  --color-dark-blue: #1877f2;
  --color-dark-gray: #272e38;
  --color-light-gray: #dadbdd;

  // BURGER
  --burger-width: 40px;
  --burger-height: 20px;
  --burger-line-height: 2px;
}
